#****************************************************************************************
#
# .gitignore - Especifica arquivos intencionalmente que o Git deve ignorar nos commits
#
# Examples:
# Ignorar os arquivos *.html
# *.html
# Ignorar o diretório .idea/
#.idea/
#
# Crie o seu por aqui de acordo com sua tecnologia e evite sugereiras em seus repos :)
# https://www.gitignore.io/
#
# Referencia - https://git-scm.com/docs/gitignore
#
#****************************************************************************************
.idea
*.iml
target
cucumber-html-reports/
cucumber.json